<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Django CRUD application</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Django App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <!-- When we are authenticated Django creates a global object (called user) which can be accessed from all templates -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'tasks' %}" class="nav-link">Pending Tasks</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tasks_completed' %}" class="nav-link">Completed Tasks</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create_task' %}" class="nav-link">Create task</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link">Signup</a>
                </li>
                <li class="nav-item"> 
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    {% block content %}
    {% endblock %}

</body>
</html>