<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD application</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <!-- When we are authenticated Django creates a global object (called user) which can be accessed from all templates -->
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">Pending Tasks</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Completed Tasks</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Create task</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>