{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center pb-5">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi facilis ea earum? Impedit reprehenderit deserunt asperiores atque? Ratione accusantium nobis culpa voluptatem sint ullam, molestiae placeat doloribus voluptatum, inventore asperiores alias cupiditate odio, maiores sit qui? Modi accusamus exercitationem sed, dolorem distinctio similique qui animi quaerat recusandae natus tempore facilis reiciendis et, porro quis id fugiat, voluptate laudantium veniam? Tempore earum dignissimos ipsam voluptatem veritatis nulla, adipisci perspiciatis aut officiis quos temporibus atque provident nesciunt veniam esse. Libero voluptas, odio nostrum aperiam dicta exercitationem iure porro sapiente molestiae blanditiis sequi voluptatem! Impedit quo dolorem nisi rem ullam alias modi qui.</p>

        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-dark">
                Login
            </a>
            <a href="{% url 'signup' %}" class="btn btn-dark">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
