{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">{{ title }}</h1>
            <ul class="list-group">
                {% for task in tasks %}
                    <a href="{% url 'task_detail' task.id %}" class="list-group-item">
                        <header class="d-flex justify-content-between">
                            {% if task.important %}
                            <h1 class="fw-bold text-success">{{ task.title }}</h1>
                            {% else %}
                            <h1 class="fw-bold">{{ task.title }}</h1>
                            {% endif %}
                            <p>{{ task.user.username }}</p>
                        </header>
                        <p>{{ task.description }}</p>
                        <p>{{ task.date_completed | date:'M j  Y:i' }}</p> <!-- '|' means a pipe that allow excute another action with previous data, in this case it allows set format to date -->
                        
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}