{% extends 'base.html' %}

{% block content %}

<h1>Tasks</h1>

<ul>
    {% for task in tasks %}
        <li>
            <a href="{% url 'task_detail' task.id %}">
                {% if task.important %}
                <strong>{{ task.title }}</strong>
                {% else %}
                {{ task.title }}
                {% endif %}
            </a>
            <p>{{ task.description }}</p>
            <p>{{ task.user.username }}</p>
            <p>{{ task.date_completed | date:'M j  Y:i' }}</p> <!-- '|' means a pipe that allow excute another action with previous data, in this case it allows set format to date -->
            
        </li>
    {% endfor %}
</ul>

{% endblock %}