{% extends 'base.html' %}

{% block content %}

    <h1>{{ task.title }}</h1>
    {{ error }}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            Update
        </button>
    </form>

    <form action="{% url 'completed_task' task.id %}" method="POST">
        {% csrf_token %}
        <button> 
            Completed
        </button>
    </form>

    <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button> 
            Delete
        </button>
    </form>
    
{% endblock %}